<div class="container">
  <h1 class="toolbar-header">Hospital municipal Gumersindo Sayago</h1>
  <mat-toolbar class="custom-toolbar">
      
      <span class="spacer"></span>
      <a mat-button class="toolbar-link" href="#">NUEVA ORDEN</a>
      <a mat-button class="toolbar-link" href="#">RESULTADOS</a>
      <a mat-button class="toolbar-link" href="#">CONSULTA</a>
      <a mat-button class="toolbar-link" href="#">LISTADOS DIARIOS</a>
      <a mat-button class="toolbar-link" href="#">LISTADO DE ANALISIS POR PACIENTE</a>
      <img src="../assets/imagenes/logo-vcp2.png" alt="Logo" class="toolbar-logo">
  </mat-toolbar>

  <img src="../assets/imagenes/lab.png" alt="">
</div>
